@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  width: 90vw;
}

.conatiner_active {
  color: rgb(11, 25, 116);
  height: 90vh;
  margin: 0 10px;
}
